<div class="container mt-3">
  <div class="row">
    <div class="col-md-3">
      <app-side-menu></app-side-menu>
    </div>
    <div class="col-md-9">
      <p>recipes-management works!</p>
      <br />
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Nome da Receita</th>
            <th>Ações</th>
            <!-- Adicionar mais colunas conforme necessário -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let recipe of recipes">
            <td>{{ recipe.id }}</td>
            <td>
              <!-- Verifica se a receita está em modo de edição -->
              <ng-container *ngIf="!editedRecipe || (editedRecipe && editedRecipe.id !== recipe.id)">
                <button class="btn btn-link" (click)="toggleDetails(recipe)">
                  {{ recipe.name }}
                </button>
              </ng-container>

              <!-- Mostra campos de edição se a receita está em modo de edição -->
              <ng-container *ngIf="editedRecipe && editedRecipe.id === recipe.id">
                <!-- Formulário de edição -->
                <form (ngSubmit)="saveEditedRecipe()" #editForm="ngForm">
                  <div class="form-group">
                    <label for="editName">Nome:</label>
                    <input id="editName" name="editName" [(ngModel)]="editedRecipe.name" class="form-control" required />
                  </div>
                  <div class="form-group">
                    <label for="editDuration">Duração (min):</label>
                    <input id="editDuration" name="editDuration" [(ngModel)]="editedRecipe.duration" class="form-control" />
                  </div>
                  <div class="form-group">
                    <label for="editDifficulty">Dificuldade:</label>
                    <input id="editDifficulty" name="editDifficulty" [(ngModel)]="editedRecipe.difficulty" class="form-control" />
                  </div>
                  <div class="form-group">
                    <label for="editIngredients">Ingredientes:</label>
                    <input id="editIngredients" name="editIngredients" [(ngModel)]="editedRecipe.ingredients" class="form-control" />
                  </div>
                  <div class="form-group">
                    <label for="editDescription">Descrição:</label>
                    <input id="editDescription" name="editDescription" [(ngModel)]="editedRecipe.description" class="form-control" />
                  </div>
                  <div class="form-group">
                    <label for="editCategory">Categoria:</label>
                    <input id="editCategory" name="editCategory" [(ngModel)]="editedRecipe.category" class="form-control" />
                  </div>

                  <button type="submit" class="btn btn-primary">Salvar</button>
                  <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Cancelar</button>
                </form>
              </ng-container>

              <div *ngIf="recipe.showDetails">
                <p><strong>ID:</strong> {{ recipe.id }}</p>
                <p><strong>Duração (min):</strong> {{ recipe.duration }}</p>
                <p><strong>Dificuldade:</strong> {{ recipe.difficultyString }}</p>
                <p><strong>Ingredientes:</strong> {{ recipe.ingredients }}</p>
                <p><strong>Descrição:</strong> {{ recipe.description }}</p>
                <p><strong>Categoria:</strong> {{ recipe.categoryString }}</p>
                <!-- Adicionar mais detalhes conforme necessário -->
              </div>
            </td>
            <td>
              <!-- Botões de ação -->
              <ng-container *ngIf="!editedRecipe || (editedRecipe && editedRecipe.id !== recipe.id)">
                <button class="btn btn-link" (click)="editRecipe(recipe)">Editar</button>
              </ng-container>
              <ng-container *ngIf="editedRecipe && editedRecipe.id === recipe.id">
                <button class="btn btn-link" (click)="saveEditedRecipe()">Salvar</button>
                <button class="btn btn-link" (click)="cancelEdit()">Cancelar</button>
              </ng-container>
            </td>
            <!-- Adicionar mais colunas conforme necessário -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
