.side-menu {
  width: 200px;
  height: 100%;
  color: #000000;
  border: 1px;
}

  .side-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px;
    border-color: black;
  }

  .side-menu li {
    margin-bottom: 10px;
    border: 1px;
    border-color: black;
  }

  .side-menu a {
    text-decoration: none;
    color: #000000;
    border: 1px;
    border-color:black;
  }
