<div class="text-center">
  <h1>Bem-Vindos!</h1>
  <table>
    <tbody>
      <tr>
        <td class="col-6">

          <div class="text-center">
            <p>Aprenda a fazer receitas deliciosas com o <b>Doyou2</b></p>
            <br />
            <p>Aqui você poderá encontrar as receitas mais deliciosas do mundo gastronómico, venha fazer parte desta comunidade</p>
          </div>

        </td>
        <td class="col-6">
          <img src="src\app\home\img\IMG_5258.JPG" />
        </td>
      </tr>
    </tbody>
    
  </table>
 

</div>

