<div class="text-center">
  <h3>Aqui vai encontrar todas as receitas que procura</h3>
</div>
<div class="container text-center"><app-search-bar (searchEvent)="searchRecipes"></app-search-bar></div>
<div class="mx-auto w-60">
  <div>
    <label class="col-3 mx-3"><h6>Pesquise aqui a receita</h6></label>
    <input class="col-6 border-radius" type="text" [(ngModel)]="searchTerm" (input)="searchRecipes()"/>
    <button class="btn-width col-3 border-radius mx-3" (click)="searchRecipes()">Pesquisar</button>
  </div>
</div>
